<div class="center hero-unit">
  <h1>YaleStarter</h1>

  <p>
    Find and join an amazing project or 
    start your own now!
  </p>

  <%= link_to "Sign in with Facebook!", "/auth/facebook",class: "btn btn-large btn-primary" %>
</div>
