<div class="center hero-unit">
	<h1 style="text-align: left">YaleStarter</h1>

	<p style="text-align: left">
		Disover an amazing project and join the team or 
		show us your passion and create your own project now!
	</p>

	<%= link_to "Sign in with Facebook!", "/auth/facebook",
	class: "btn btn-small btn-primary popup", style:"float:left; margin: 5px" %>
</div>
<div align="center">
<%= link_to "Create your own project!", new_project_path, class: "btn btn-large btn-primary popup", style:"float:center;" %>
</div>
<h2 style="text-align:left">Popular Projects</h2>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="projects span12">
			<%= render @projects %>
		</div>
	</div>
</div>
