<div class="center hero-unit">
	<h1 style="text-align: left">YaleStarter</h1>

	<p style="text-align: left">
		Disover an amazing project and join the team or 
		show us your passion and create your own project now!
	</p>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<h2 style="text-align:left">Popular Projects</h2>
		<div class="projects span12">
			<%= render @projects %>
		</div>
	</div>
</div>

<% if signed_in? %>
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >×</a>
    <h1 style="text-align: center;">Welcome!</h1>
    <h2 style="text-align:center;">
      Publish your ideas and find the resources you need to take them from ideation to implementation!
    </h2>

    <div>
    <%= link_to "Log in with Facebook!", "/auth/facebook", class: "btn btn-primary popup", style: "margin: 0 auto; " %>
  </div>
  </div>
</div>
<% end %>
 <script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
