<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >×</a>
    <h3 style="text-align: center;">Hey Guys!</h3>
    <p style="text-align:center;">
      Thanks guys for helping me out! Here's some info...
    </p>
  </div>
</div>

