<div class="user_header">
	<img src="<%= asset_path(@user.avatar) %>", class="avatar", type="normal"/>

	<h1 class="prof-name"><%= @user.name %></h1>
</div>

<div class="user-info">
	<% if @user.bio %>
		<h2>
			Bio: <%= @user.bio %>
		</h2>
	<% end %>
	<% if @user.email %>
		<h2>
			Email: <%= @user.email %>
		</h2>
	<% end %>
</div>

