<div class="project_panel span3">
	<ul class="thumbnails">
	  <li class="">
	    <a href="#" class="thumbnail">
	      <img src= "http://www.eclipsewebmedia.com/wp-content/uploads/placeholdit.gif" alt="project pic" style="width: 300px; height: 200px"  >
	    </a>
	    
	    <a>
	    	<i class="icon-facebook" style="float:right;"></i>
	    </a>
	    <a>
	    	<i class="icon-twitter" style="float:right;"></i>
	    </a>
	    <a>
	    	<i class="icon-google-plus" style="float:right;"></i>
	    </a>


	    <div class="caption">
	    	<h3> <%= project.project_name %> </h3>
	    	<p> <%= project.description %> </p>
	    	<p>
	    		<a href="#" class="btn btn-primary" style="float:right;">Learn More</a>
	    	</p>
	  </li>
	</ul>
</div>